main[role='idea-container'] {
  margin-top: 100px;
}

main[role='idea-container'] .ideas {
  overflow: hidden;
  max-height: 480px;
}

main[role='idea-container'] .idea {
  background: #C7C6CC;
  height: 100px;
  margin-bottom: 20px;
}

.ideas-include.ng-enter {
  -webkit-transition: 4000ms cubic-bezier(0.445, 0.050, 0.550, 0.950) all;
  -moz-transition: 4000ms cubic-bezier(0.445, 0.050, 0.550, 0.950) all;
  -ms-transition: 4000ms cubic-bezier(0.445, 0.050, 0.550, 0.950) all;
  -o-transition: 4000ms cubic-bezier(0.445, 0.050, 0.550, 0.950) all;
  transition: 4000ms cubic-bezier(0.445, 0.050, 0.550, 0.950) all;
}

.ideas-include.ng-enter {
  opacity: 0;
}

.ideas-include.ng-enter-active {
  opacity: 1;
}

.idea-inner.ng-enter,
.idea-inner.ng-leave {
  -webkit-transition: 1000ms cubic-bezier(0.445, 0.050, 0.550, 0.950) all;
  -moz-transition: 1000ms cubic-bezier(0.445, 0.050, 0.550, 0.950) all;
  -ms-transition: 1000ms cubic-bezier(0.445, 0.050, 0.550, 0.950) all;
  -o-transition: 1000ms cubic-bezier(0.445, 0.050, 0.550, 0.950) all;
  transition: 1000ms cubic-bezier(0.445, 0.050, 0.550, 0.950) all;
}

.idea-inner.ng-enter {
  opacity: 0;
  height: 0;
}

.idea-inner.ng-enter-active {
  opacity: 1;
  height: 100px;
}

.idea-inner.ng-enter-stagger {
  -webkit-transition-delay: 3s;
  transition-delay: 3s;
}

.idea-inner.ng-leave {
  opacity: 1;
  height: 100px;
}

.idea-inner.ng-leave-active {
  opacity: 0;
  height: 0;
}


/*.ideas {
  position: static;
  max-width: 1920px;
  margin-top: 100px;
}

.ideas .idea {
  width: 1440px;
  margin: 10px auto;
  background: #C7C6CC;
  height: 100px;
}

.ideas .idea .idea-text {
  color: #555555;
  padding: 0 28px;
  font-weight: 500;
  font-size: 28px;
}*/
