html, body {
  background-color: #fff;
}

body {
  width: 100%;
  height: 100%;
}

.sms-details,
.new-message {
  background-color: #29ABE2;
  width: 100%;
  height: 100%;
}

.sms-details .inner,
.new-message .inner {
  color: #fff;
  font-size: 40px;
  font-weight: 900;
  text-align: center;
  width: 60%;
  margin: 0 auto;
}

.new-message .inner {
  font-size: 30px;
}

.sms-details .inner img,
.new-message .inner img {
  float: left;
  margin-right: 30px;
  width: 80px;
  height: 80px;
}

.sms-details .inner p,
.new-message .inner p {
  margin: 0;
}


/** Vote Slide **/
.slide-vote {
  -webkit-transition: 4s;
  -moz-transition: 4s;
  -ms-transition: 4s;
  -o-transition: 4s;
  transition: 4s;
  z-index: 1000;
}

.slide-vote.yes-vote-add-active {
  position: fixed;
  left: 2000px;
}

.slide-vote.yes-vote-remove-active {
  left: 0;
}

.slide-vote.no-vote-add-active {
  position: fixed;
  right: 2000px;
}

.slide-vote.no-vote-remove-active {
  right: 0;
}
