body {
  padding-top: 80px;
}

nav[role='navigation'] {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #EE5080;
  border-color: #EE5080;
  color: #fff;
}

.idea .idea-text {
  background: #C7C6CC;
  padding: 1em;
  margin-bottom: 1em;
  font-weight: 500;
  height: 90px;
}

.current-idea .idea-text {
  background-color: #EE5080;
  color: #fff;
  padding: 1em;
  height: 150px;
  font-weight: 900;
  font-style: italic;
  font-size: 1.5em;
}

.current-idea .vote-button {
  height: 150px;
}

.current-idea .vote-button.no {
  background-size: 75px 150px;
  background-image: url('/images/no.svg');
  background-repeat: no-repeat;
  background-position: top right;
}

.current-idea .vote-button.yes {
  background-size: 75px 150px;
  background-image: url('/images/yes.svg');
  background-repeat: no-repeat;
  background-position: top left;
}

.sms-details {
  margin-top: 10px;
}

.sms-details .inner {
  background-color: #29ABE2;
  font-weight: 500;
  padding: 1em;
}

.sms-details .inner img {
  float: left;
  margin-right: 30px;
}


/*
body {
  padding-top: 80px;
}

.navbar-inverse {
  background-color: #EE5080;
  border-color: #EE5080;
  color: #fff;
}

.navbar-inverse a,
.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a {
  color: #fff;
}

.idea {
  width: 80%;
  margin: 10px auto;
  background: #C7C6CC;
  padding: 20px;
}

.idea .idea-text {
  width: 100%;
  height: 100%;
  text-align: justify;
  font-size: 2em;
}

.current-idea-container {
  width: 100%;
  margin: 10px auto;
}

.current-idea-container .current-idea {
  margin: 0 auto;
  background-color: #EE5080;
  color: #fff;
  padding: 20px;
}

.current-idea-container .current-idea .idea-text {
  width: 100%;
  height: 100%;
  text-align: justify;
  font-size: 3em;
  text-transform: uppercase;
}

.current-idea-container .vote-no-button {
  background-color: red;
  height: 100%;
}

.current-idea-container .vote-yes-button {
  background-color: green;
}

#toast-container.toast-bottom-full-width > div {
  width: 960px;
}

.sms-details {
  margin-top: 30px;
  background-color: #29ABE2;
}

.sms-details .text {
  font-size: 2em;
}
*/