html, body {
  background-color: #fff;
}

body {
  width: 100%;
  height: 100%;
}

.wrapper {
  padding-top: 100px;
  max-width: 1920px;
  margin: 0 auto;
}

nav[role='navigation'] {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: transparent;
  background-image: url('/images/nav-bg.svg');
  background-position: bottom;
  background-repeat: no-repeat;
  height: 150px;
  max-width: 1920px;
  margin: 0 auto;
  color: #fff;
}

nav[role='navigation'] .logo {
  vertical-align: middle;
}

nav[role='navigation'] .logo.pebblecode {
  padding-top: 17px;
}

nav[role='navigation'] .logo.az {
  text-align: right;
}

.slanted-bottom {
  position: fixed;
  z-index: 1000;
  top: 60px;
  left: 0;
  right: 0;
  width: 100%;
  height: 0;
  border-top: 40px solid #EE5080;
  border-right: 1080px solid transparent;
}

footer[role='footer'] {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  height: 100px;
}

.idea {
  background: #C7C6CC;
  margin-bottom: 1em;
  height: 100px;
}

.idea .idea-text {
  color: #555555;
  padding: 1em;
  font-weight: 500;
  font-size: 1.4em;
}

.current-idea {
  margin: 0 20px;
}

.current-idea .idea-text {
  background-color: #EE5080;
  color: #fff;
  padding: 1em;
  height: 200px;
  font-weight: 900;
  font-style: italic;
  font-size: 2.3em;
  text-transform: uppercase;
  text-align: center;
}

.current-idea .vote-button {
  height: 200px;
}

.current-idea .vote-button.no {
  background-size: cover;
  background-image: url('/images/no-2.svg');
  background-repeat: no-repeat;
  background-position: 2px center;
}

.current-idea .vote-button.yes {
  background-size: cover;
  background-image: url('/images/yes-2.svg');
  background-repeat: no-repeat;
  background-position: -2px center;
}

.sms-details,
.new-message {
  background-color: #29ABE2;
}

.sms-details .inner,
.new-message .inner {
  color: #fff;
  font-size: 1.4em;
  font-weight: 900;
  text-align: center;
  width: 60%;
  margin: 0 auto;
}

.new-message .inner {
  font-size: 1em;
}

.sms-details .inner img,
.new-message .inner img {
  float: left;
  margin-right: 30px;
  width: 80px;
  height: 80px;
}




/* Animations */

/** Toaster **/
.toaster.ng-enter, 
.toaster.ng-leave
{ 
    -webkit-transition: 1000ms cubic-bezier(0.445, 0.050, 0.550, 0.950) all;
    -moz-transition: 1000ms cubic-bezier(0.445, 0.050, 0.550, 0.950) all;
    -ms-transition: 1000ms cubic-bezier(0.445, 0.050, 0.550, 0.950) all;
    -o-transition: 1000ms cubic-bezier(0.445, 0.050, 0.550, 0.950) all;
    transition: 1000ms cubic-bezier(0.445, 0.050, 0.550, 0.950) all;
} 
 
.toaster.ng-enter {
    bottom: -200px;
}
.toaster.ng-enter-active {
    bottom: 0;
}
 
.toaster.ng-leave {
    bottom: 0;
}
.toaster.ng-leave-active{
    bottom: -200px;
}


/*
body {
  padding-top: 80px;
}

.navbar-inverse {
  background-color: #EE5080;
  border-color: #EE5080;
  color: #fff;
}

.navbar-inverse a,
.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a {
  color: #fff;
}

.idea {
  width: 80%;
  margin: 10px auto;
  background: #C7C6CC;
  padding: 20px;
}

.idea .idea-text {
  width: 100%;
  height: 100%;
  text-align: justify;
  font-size: 2em;
}

.current-idea-container {
  width: 100%;
  margin: 10px auto;
}

.current-idea-container .current-idea {
  margin: 0 auto;
  background-color: #EE5080;
  color: #fff;
  padding: 20px;
}

.current-idea-container .current-idea .idea-text {
  width: 100%;
  height: 100%;
  text-align: justify;
  font-size: 3em;
  text-transform: uppercase;
}

.current-idea-container .vote-no-button {
  background-color: red;
  height: 100%;
}

.current-idea-container .vote-yes-button {
  background-color: green;
}

#toast-container.toast-bottom-full-width > div {
  width: 960px;
}

.sms-details {
  margin-top: 30px;
  background-color: #29ABE2;
}

.sms-details .text {
  font-size: 2em;
}
*/